@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nm6h1x');
  src:  url('fonts/icomoon.eot?nm6h1x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nm6h1x') format('truetype'),
    url('fonts/icomoon.woff?nm6h1x') format('woff'),
    url('fonts/icomoon.svg?nm6h1x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e904";
  color: #f00;
}
.icon-facebook:before {
  content: "\e902";
  color: #1877f2;
}
.icon-whatsapp:before {
  content: "\e903";
  color: #25d366;
}
.icon-messenger:before {
  content: "\e901";
  color: #00b2ff;
}
.icon-gmail:before {
  content: "\e900";
  color: #d14836;
}
